# Defines buckets on cr-buildbucket.appspot.com, used by to schedule builds
# on buildbot. In particular, CQ uses some of these buckets to schedule tryjobs.
#
# See http://luci-config.appspot.com/schemas/projects:buildbucket.cfg for
# schema of this file and documentation.
#
# Please keep this list sorted by bucket name.

builder_mixins {
  name: "linux"
  dimensions: "os:Ubuntu-14.04"
}

acl_sets {
  name: "try"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: WRITER
    identity: "pasko@chromium.org"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: SCHEDULER
    group: "project-chromium-tryjob-access"
  }
}

bucket {
  name: "luci.custom-tabs-client.try"
  acl_sets: "try"
  swarming {
    hostname: "chromium-swarm.appspot.com"
    builder_defaults {
      dimensions: "cores:8"
      dimensions: "cpu:x86-64"
      dimensions: "pool:luci.flex.try"
      service_account: "custom-tabs-client-try-builder@chops-service-accounts.iam.gserviceaccount.com"
      execution_timeout_secs: 10800  # 3h
      swarming_tags: "vpython:native-python-wrapper"
      build_numbers: YES
      luci_migration_host: "luci-migration.appspot.com"
      recipe {
        cipd_package: "infra/recipe_bundles/chromium.googlesource.com/chromium/tools/build"
        cipd_version: "refs/heads/master"
        name: "custom_tabs_client"
      }
    }

    builders {
      name: "Custom Tabs Linux Tryserver"
      mixins: "linux"
    }
  }
}


buckets {
  name: "master.tryserver.client.custom_tabs_client"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-chromium-tryserver"
  }
  acls {
    role: SCHEDULER
    group: "project-chromium-tryjob-access"
  }
  acls {
    role: WRITER
    identity: "pasko@chromium.org"
  }
}

