[access]
	inheritFrom = chromium/deps
[submit]
	action = rebase always
	mergeContent = true

[label "Commit-Queue"]
	abbreviation = CQ
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock

[access "refs/for/*"]
	addPatchSet = group chrome-commit-bot

[access "refs/heads/*"]
	push = group chrome-commit-bot
	forgeAuthor = group chrome-commit-bot
	submit = group chrome-commit-bot
	label-Commit-Queue = +0..+2 group cria/project-chromium-committers
	label-Commit-Queue = +0..+2 group cria/project-chromium-tryjob-access
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
