<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2017 Google Inc. All Rights Reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.twa.svgomg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_svgomg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_svgomg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwaSplash">

        <!--
        To skip digital asset link verification testing from the website to the app (which you'll
        need to do to get Trusted Web Activities to work) you'll need to run Chrome with the flag:
          __disable-digital-asset-link-verification-for-url=https://svgomg.firebaseapp.com
        but with the '_' replaced by '-' (XML comments don't allow double dashes).
        -->

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name="android.support.customtabs.trusted.LauncherActivity"
                  android:label="Launcher Activity">
            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL"
                       android:value="https://svgomg.firebaseapp.com" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                      android:host="svgomg.firebaseapp.com"/>
            </intent-filter>
        </activity>
    </application>

</manifest>